*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
 display: flex;
 align-items: stretch;
 min-height: 100vh;
}
.contacto {
    width: 20%;
    min-width: 250px;
    background-color:white;
    display: flex;
    flex-direction: column;
}
.principal {
    display: flex;
    width: 80%;
    background-color: #E8EBE4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}
.hand {
    width: 20%;  
    object-fit: cover;    
}
.sesion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    padding: 1rem;
    border-bottom: 2px solid #E8EBE4;
}
    
.formato-imagen{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.orden-foto-sesion {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.formato-iconos {
    margin:0 1rem;
}
.sesion-boton {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 32px 0;
 border-bottom: 2px solid #E8EBE4;
}
button{
   background-color: #A491D2;
   font-family: Arial;
   color: #ffffff;
   font-size: 12px;
   padding: 12px 16px;
   border: 1px solid #A491D2;
   width: 70%;
}
.formato-imagen-contactos{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.orden-contactos{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 2px solid #E8EBE4;
}